body {
}

.mainLetter {
    font-family: "Calibri, serif";
    font-size: 30px;
    color: red;
    font-weight: bold;
    padding-right:1em;
}

.otherLetter {
    font-family: "Calibri, serif";
    font-size: 30px;
    font-weight: bold;
}

.fontT1 {
    margin-bottom: 0.11in;
    font-family:"Calibri, serif";
    font-size: 16pt;
    font-weight: bold;
}

.fontT2 {
    font-family: "Calibri, serif";
    color: red;
    font-weight: bold;
    font-size: 11pt;
    text-align: left;
    margin-left: 0.5in;
    margin-top: 0.19in;
    margin-bottom: 0.19in;
    line-height: 107%
}

.fontP1 {
    margin-left: 0.5in;
    margin-bottom: 0.11in;
    font-family: "Calibri, serif";
    font-size: 11pt;
}

.fontP2 {
    margin-left: 0.5in;
    margin-bottom: 0.11in;
    font-family:"Calibri, serif";
    font-size: 11pt;
}


