@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @*<table>
        <tr>
            <td>
                <table>
                    <tr />
                    <tr class="mainLetter">
                        <td>K</td>
                        <td>E</td>
                        <td>P</td>
                        <td>T</td>
                    </tr>
                    <tr class="otherLetter">
                        <td>E</td>
                        <td>M</td>
                        <td>E</td>
                        <td>O</td>
                    </tr>
                    <tr class="otherLetter">
                        <td>Y</td>
                        <td>P</td>
                        <td>R</td>
                        <td>O</td>
                    </tr>
                    <tr class="otherLetter">
                        <td />
                        <td>L</td>
                        <td>F</td>
                        <td>L</td>
                    </tr>
                    <tr class="otherLetter">
                        <td />
                        <td>O</td>
                        <td>O</td>
                        <td>K</td>
                    </tr>
                    <tr class="otherLetter">
                        <td />
                        <td>Y</td>
                        <td>R</td>
                        <td>I</td>
                    </tr>
                    <tr class="otherLetter">
                        <td />
                        <td>E</td>
                        <td>M</td>
                        <td>T</td>
                    </tr>
                    <tr class="otherLetter">
                        <td />
                        <td>E</td>
                        <td>A</td>
                        <td />
                    </tr>
                    <tr class="otherLetter">
                        <td colspan="2" />
                        <td>N</td>
                        <td />
                    </tr>
                    <tr class="otherLetter">
                        <td colspan="2" />
                        <td>C</td>
                        <td />
                    </tr>
                    <tr class="otherLetter">
                        <td colspan="2"/>
                        <td>E</td>
                        <td />
                    </tr>
                </table>
            </td>
            <td>
                <P class="fontT1">OUR CORE PURPOSE</P>
                <P class="fontP1">
                    WE EXIST TO CREATE AN ENVIRONMENT AND A CULTURE THAT BREEDS SUCCESS BY
                    CARING FOR OUR CUSTOMERS AS INDIVIDUALS AND ENABLING OUR PEOPLE TO BE
                    THE BEST THAT THEY CAN BE.
                </P>
                <P class="fontT1">OUR VALUES</P>
                <P class="fontT2">THOUGHTFUL</P>
                <P class="fontP2">
                    We care deeply about the success of our people, our customers and their organizations, and the countries in which we operate.
                </P>
                <P class="fontT2">OPEN</P>
                <P class="fontP2">
                    We are confident in our abilities, our approach and our people so we
                    have nothing to hide from our customers.
                </P>
                <P class="fontT2">ADAPTABLE</P>
                <P class="fontP2">
                    Weembrace change and value differences enabling us to be successful in
                    complex environments.
                </P>
                <P class="fontT2">SMART</P>
                <P class="fontP2">
                    We employ clever people blending experience and talent to deliver
                    smarter solutions for our customers.
                </P>
                <P class="fontT2">TRUSTED</P>
                <P class="fontP2">
                    Our relationships are built on trust and a marriage of equals.
                </P>
            </td>
        </tr>
    </table>*@
    <div class="row">
        <div class="col-md-2" style="background-color:grey">
            <table>
                <tr >
                    <td class="mainLetter">K</td>
                    <td class="mainLetter">E</td>
                    <td class="mainLetter">P</td>
                    <td class="mainLetter">T</td>
                </tr>
                <tr class="otherLetter">
                    <td>E</td>
                    <td>M</td>
                    <td>E</td>
                    <td>O</td>
                </tr>
                <tr class="otherLetter">
                    <td>Y</td>
                    <td>P</td>
                    <td>R</td>
                    <td>O</td>
                </tr>
                <tr class="otherLetter">
                    <td />
                    <td>L</td>
                    <td>F</td>
                    <td>L</td>
                </tr>
                <tr class="otherLetter">
                    <td />
                    <td>O</td>
                    <td>O</td>
                    <td>K</td>
                </tr>
                <tr class="otherLetter">
                    <td />
                    <td>Y</td>
                    <td>R</td>
                    <td>I</td>
                </tr>
                <tr class="otherLetter">
                    <td />
                    <td>E</td>
                    <td>M</td>
                    <td>T</td>
                </tr>
                <tr class="otherLetter">
                    <td />
                    <td>E</td>
                    <td>A</td>
                    <td />
                </tr>
                <tr class="otherLetter">
                    <td colspan="2" />
                    <td>N</td>
                    <td />
                </tr>
                <tr class="otherLetter">
                    <td colspan="2" />
                    <td>C</td>
                    <td />
                </tr>
                <tr class="otherLetter">
                    <td colspan="2" />
                    <td>E</td>
                    <td />
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <P class="fontT1">OUR CORE PURPOSE</P>
            <P class="fontP1">
                WE EXIST TO CREATE AN ENVIRONMENT AND A CULTURE THAT BREEDS SUCCESS BY
                CARING FOR OUR CUSTOMERS AS INDIVIDUALS AND ENABLING OUR PEOPLE TO BE
                THE BEST THAT THEY CAN BE.
            </P>
            <P class="fontT1">OUR VALUES</P>
            <P class="fontT2">THOUGHTFUL</P>
            <P class="fontP2">
                We care deeply about the success of our people, our customers and their organizations, and the countries in which we operate.
            </P>
            <P class="fontT2">OPEN</P>
            <P class="fontP2">
                We are confident in our abilities, our approach and our people so we
                have nothing to hide from our customers.
            </P>
            <P class="fontT2">ADAPTABLE</P>
            <P class="fontP2">
                Weembrace change and value differences enabling us to be successful in
                complex environments.
            </P>
            <P class="fontT2">SMART</P>
            <P class="fontP2">
                We employ clever people blending experience and talent to deliver
                smarter solutions for our customers.
            </P>
            <P class="fontT2">TRUSTED</P>
            <P class="fontP2">
                Our relationships are built on trust and a marriage of equals.
            </P>
        </div>
    </div>
</div>
