
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 1em;">
	<div class="row">
		<div class="pull-left">
			<h4 class="card-title" style="text-align:center">Profile Picture</h4>
			<img id="img_sex" class="person-img" style="width:200px; height:200px;"
				  src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/420px-Tux.svg.png">
		</div>
		<div class="pull-right" style="width:30%">
			<h1 style="text-align:center">Motivation</h1>
			<fieldset class="form-horizontal">
				<div class="form-group ">
					<label class="col-form-label col-sm-5">Team</label>
				</div>
				<div class="form-group">
					<label class="col-form-label col-sm-5">Client</label>
				</div>
				<div class="form-group">
					<label class="col-form-label col-sm-5">Project</label>
				</div>
				<div class="form-group">
					<label class="col-form-label col-sm-5">Company</label>
				</div>
			</fieldset>
		</div>
		<fieldset class="form-horizontal">
			<div>
				<div class="form-group">
					<label for="fullName" class="col-form-label col-sm-3">Full Name</label>
					<input type="text" class="form-control col-sm-6" id="fullName" placeholder="Enter Full Name" required>
				</div>
				<div class="form-group">
					<label for="deliveryUnit" class="col-form-label col-sm-3">Delivery Unit</label>
					<input type="text" class="form-control col-sm-6" id="tel" placeholder="Enter Delivery Unit" required>
				</div>
				<div class="form-group">
					<label for="grade" class="col-form-label col-sm-3">Grade</label>
					<input type="text" class="form-control col-sm-6" id="tel" placeholder="Enter Grade" required>
				</div>
				<div class="form-group">
					<label for="lead" class="col-form-label col-sm-3">Lead</label>
					<input type="text" class="form-control col-sm-6" id="tel" placeholder="Enter Lead" required>
				</div>
				<div class="form-group">
					<label for="leadGrade" class="col-form-label col-sm-3">Lead Grade</label>
					<input type="text" class="form-control col-sm-6" id="tel" placeholder="Enter Lead grade" required>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="row">
		<div class="pull-left" style="width:50%">
			<h1 class="card-title" style="text-align:center">Competencies</h1>
			<fieldset class="form-horizontal">
				<div class="form-group ">
					<label class="col-form-label col-sm-5">Customer Management</label>
				</div>
				<div class="form-group">
					<label class="col-form-label col-sm-5">Flexibility</label>
				</div>
				<div class="form-group">
					<label class="col-form-label col-sm-5">Team Work</label>
				</div>
				<div class="form-group">
					<label class="col-form-label col-sm-5">Result Orientation</label>
				</div>
				<div class="form-group">
					<label class="col-form-label col-sm-5">Leadership</label>
				</div>
				<div class="form-group">
					<label class="col-form-label col-sm-5">Learning Capability</label>
				</div>
			</fieldset>
		</div>
		<div class="pull-right" style="width:50%">
			<h1 class="card-title" style="text-align:center">Performance</h1>
			<fieldset class="form-horizontal">
				<div class="form-group ">
					<label class="col-form-label col-sm-5">Technical Knowledge and Quality</label>
				</div>
				<div class="form-group">
					<label class="col-form-label col-sm-5">Production Process and Methodology</label>
				</div>
				<div class="form-group">
					<label class="col-form-label col-sm-5">Productivity</label>
				</div>
			</fieldset>
		</div>
	</div>
</div>
